{% extends 'base.html.twig' %}

{% block title %}Hello!{% endblock %}
{% block returnHome %}{% endblock %}
{% block body %}

    <div class="example-wrapper">
        <h1>{{ 'transaltion@home.title'|trans }}</h1>
        <h2>{{ 'transaltion@home.text'|trans }}</h2>
        <a href="{{ path('registration') }}" class="btn btn-default">{{ 'transaltion@registration.btn'|trans }}</a>
        <a href="{{ path('login') }}" class="btn btn-default">{{ 'transaltion@login.btn'|trans }}</a>
        <a href="{{ path('logout') }}" class="btn btn-default">{{ 'transaltion@logout.btn'|trans }}</a>
        <br>
        {% if  is_granted('IS_AUTHENTICATED_REMEMBERED') %}
            <a href="{{ path('gamelist') }}" class="btn btn-success">{{ 'translation_all_games'|trans }}</a>
        {% endif %}
    </div>
{% endblock %}
